nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  margin: auto;
  height: 50px;
  background-color: #001f3f;
}

nav a {
  color: #ccc;
  text-decoration: none;
}

.flex_container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  background-color: #ccc;
}

.box00 {
  font-family: 'Langar', cursive;
  color: #001f3f;
  width: 230px;
  height: 260px;
  background-image: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.box01, .box03, .box05, .box07 {
  width: 330px;
  padding: 20px;
}

.box02, .box04, .box06 {
  width: 230px;
}

.box00 h1 {
  font-size: 50px;
  line-height: 1.1;
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.box00 h2 {
  display: inline-block;
  margin-left: 30px;
  margin-top: 110px;
  margin-bottom: 0;
}

p, ul {
  font-size: 11px;
  line-height: 1.5;
  color: #001f3f;
}

.first_paragraph {
  font-size: 13px;
  margin-top: 0;
  color: #001f3f;
}

h3 {
  color: #001f3f;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

h4 {
  color: #001f3f;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

h5 {
  color: #001f3f;
  font-style: italic;
  font-size: 10px;
  margin: 0;
  
}

blockquote {
  color: #ccc;
  background-color: #001f3f;
  font-family: 'Langar', cursive;
  font-size: 30px;
  padding: 30px;
  position: relative;
  margin: 0;
}

blockquote::before {
  content: '“';
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 80px;
}